{% load i18n %}

<a href="javascript://" id="subscribe-btn">Newsletter</a>
<div id="subscribeform-wrapper">
	<div id="loading">
		<p>
			<img src="http://i.stack.imgur.com/FhHRx.gif" /> Please Wait
		</p>
	</div>

	<p>{% blocktrans %} subscribe to newsletter {% endblocktrans %}</p>
	<form id="subscribeform" action="{% url " subscribe" as
		subscribe_url %}" method="POST">
		{% csrf_token %} {{ sform.as_p }} <input id="send" type="submit"
			value="absenden" />
	</form>
	<span id="subscribe-msgs"></span>
</div>
<script>
window.onload = function (){
    $("#subscribeform-wrapper").toggle(false);
    $("#subscribe-btn").toggle(true).click(function(){
            $("#subscribeform-wrapper").toggle();
    });
    
    $("#send").click(function(){
            $("subscribe-msgs").replaceWith('<span id="subscribe-msgs"></span>');
            $.post(
                    "{{ subscribe_url }}",
                    $("#subscribeform").serializeArray(),
                    function(data){
                            parsed = JSON.parse(data);
                            //console.log(parsed);
                            $("#subscribe-msgs").replaceWith('<span id="subscribe-msgs">'+parsed['msg']+'</span>');
                    }
            ); 
            
            return false;
            
    }); 
    $("#loading").ajaxStart(function(){
        $(this).show();
        }).ajaxStop(function(){
        $(this).hide();
        }).hide();

}
</script>
