{% extends "grappelli/dashboard/module.html" %}
{% load i18n %}
{% block module_content %}
	<div class="grp-module">
	<h3><a class="grp-link-internal" href="{{menu.url}}">{{menu.name}}</a></h3>
	{% if existing %}
	<div class="grp-module grp-collapse grp-open">
    	<h4 class="grp-collapse-handler toggle_existing grp-font-color-quiet">{% trans "Existing entries" %}</h4>
    </div>
	<div class="grp-row existing">
    <ul class="grp-listing-small">
    {% for e in existing %}
        <li class="grp-row"><a class="grp-link-internal" href="{{e.url}}">{{e.obj_classname}}:{{ e.obj_title}} ({{e.entry_title}})</a></li>
    {% endfor %}
    </ul>
	</div>
    {% endif %}
    {% with module.children as children %}
    {% if children %}
    <div class="grp-module grp-collapse grp-open">
    	<h4 class="grp-collapse-handler toggle_addable grp-font-color-quiet">+ {% trans "Create new entry" %}</h4>
    </div>
    <div class="grp-row  addable">
    <ul class="grp-listing-small">
    {% for c in children %}
		<li class="grp-row"><a class="grp-add-link" href="{{c.url}}">+ {{c.name}}</a></li>	
    {% endfor %}
    </ul> 
    </div>
    {% endif %}
    {% endwith %}
   </div>
    <script>
     (function($) {
     	$(document).ready(function(){
	    	$('.toggle_existing').click(function(){$('.existing').toggle();})
	    	//$('.existing').toggle();
	    	$('.toggle_addable').click(function(){$('.addable').toggle();});
	    	$('.addable').toggle();
     	});
     	
     })(grp.jQuery);
    </script>
{% endblock %}