{% extends "cnodes/base_node.html" %}
{% load i18n %}
{% block node %}
{% if object.image or object.video_poster %}
<div class="slidercontent {{object.classes }}" >
<div class="image-wrapper ">
    {% with image=object.image|default:object.video_poster %}
    <img src="{{ image.url }}" />
    {%endwith %} 
</div>
{% if object.video_poster %}
<div style="position: absolute; left:40%; top:45%;"><h2><a data-ajax="true" data-success="processResponse" href="{% url "ajaxnode" slug=object.slug %}?v=frame">PLAY-ICON</a></h2></div>
{% endif %}
{% endif %}

{% if object.text or object.headline  %}
<div class="text-wrapper">
    {% if object.headline  %}
    <h3>
        {% if object.target %}
        <a data-ajax="true" data-success="processResponse" href="{% url "ajaxnode" object.target.slug %}">
        {% endif %}
        {{object.headline|safe }}
        {% if object.target %}
        </a>
        {% endif %}
    </h3>
    {% endif %}
    {% if object.text  %}
    <div>{{ object.text|safe }}</div>
    {% endif %}
    {% if object.node_type == "product" %}
    <a class="jumper button"  href="#contact">{% trans "I Want To Buy" %}</a>
    {% endif %}

    {% if object.node_type == "product-landing" %}
    <a class="button" data-ajax="true" data-success="processResponse" href="{% url "ajaxnode" object.target.slug %}">
        {% trans "More Info" %}
    </a>
    {% endif %}
</div>
{% endif %}
</div>
{% endblock node %}
