{% load static %}
<div id="{{ slider_id }}_container" style="position:relative;margin:0 auto;top:0px;left:0px;width:1300px;height:500px;overflow:hidden;">

<div u="loading" style="position:absolute;top:0px;left:0px;">

    <div style="filter:alpha(opacity=70);opacity:0.7;position:absolute;display:block;top:0px;left:0px;width:100%;height:100%;">

    </div>

    <div style="position:absolute;display:block;background:url(img/loading.gif) no-repeat center center;top:0px;left:0px;width:100%;height:100%;">

    </div>

</div>

<div u="slides" style="cursor:move;position:absolute;left:50px;top:0px;width:1200px;height:460px;overflow:hidden;">

    <div>

        <img u="image" src="{% static "img/1920/red.jpg" %}">

        <div u="caption" t="NO" t3="RTT|2" r3="137.5%" du3="3000" d3="500" style="position:absolute;width:445px;height:300px;top:100px;left:600px;">

            <img src="{% static "img/new-site/c-phone.png" %}" style="position:absolute;width:445px;height:300px;top:0px;left:0px;">

            <img u="caption" t="CLIP|LR" du="4000" t2="NO" src="{% static "img/new-site/c-jssor-slider.png" %}" style="position:absolute;width:102px;height:78px;top:70px;left:130px;">

            <img u="caption" t="ZMF|10" t2="NO" src="{% static "img/new-site/c-text.png" %}" style="position:absolute;width:80px;height:53px;top:153px;left:163px;">

            <img u="caption" t="RTT|10" t2="NO" src="{% static "img/new-site/c-fruit.png" %}" style="position:absolute;width:140px;height:90px;top:60px;left:220px;">

            <img u="caption" t="T" du="4000" t2="NO" src="{% static "img/new-site/c-navigator.png" %}" style="position:absolute;width:200px;height:155px;top:57px;left:121px;">

        </div>

        <div u="caption" t="RTT|2" r="-75%" du="1600" d="2500" t2="NO" style="position:absolute;width:470px;height:220px;top:120px;left:650px;">

            <img src="{% static "img/new-site/c-phone-horizontal.png" %}" style="position:absolute;width:470px;height:220px;top:0px;left:0px;">

            <img u="caption" t3="MCLIP|L" du3="2000" src="{% static "img/new-site/c-slide-1.jpg" %}" style="position:absolute;width:379px;height:213px;top:4px;left:45px;">

            <img u="caption" t="MCLIP|R" du="2000" t2="NO" src="{% static "img/new-site/c-slide-3.jpg" %}" style="position:absolute;width:379px;height:213px;top:4px;left:45px;">

            <img u="caption" t="RTTL|BR" x="500%" y="500%" du="1000" d="-3000" r="-30%" t3="L" x3="70%" du3="1600" src="{% static "img/new-site/c-finger-pointing.png" %}" style="position:absolute;width:257px;height:300px;top:80px;left:200px;">

            <img src="{% static "img/new-site/c-navigator-horizontal.png" %}" style="position:absolute;width:379px;height:213px;top:4px;left:45px;">

        </div>

        <div style="position:absolute;width:480px;height:120px;top:30px;left:30px;padding:5px;text-align:left;line-height:60px;text-transform:uppercase;font-size:50px;color:#FFFFFF;">Touch Swipe Slider

        </div>

        <div style="position:absolute;width:480px;height:120px;top:300px;left:30px;padding:5px;text-align:left;line-height:36px;font-size:30px;color:#FFFFFF;">

            Build your slider with anything, includes image, content, text, html, photo, picture

        </div>

    </div>

    <div>

        <img u="image" src="{% static "img/1920/purple.jpg" %}">

        <div style="position:absolute;width:480px;height:120px;top:30px;left:30px;padding:5px;text-align:left;line-height:60px;text-transform:uppercase;font-size:50px;color:#FFFFFF;">Touch Swipe Slider

        </div>

        <div style="position:absolute;width:480px;height:120px;top:300px;left:30px;padding:5px;text-align:left;line-height:36px;font-size:30px;color:#FFFFFF;">

            Build your slider with anything, includes image, content, text, html, photo, picture

        </div>

    </div>

    <div>

        <img u="image" src="{% static "img/1920/blue.jpg" %}">

        <div style="position:absolute;width:480px;height:120px;top:30px;left:30px;padding:5px;text-align:left;line-height:60px;text-transform:uppercase;font-size:50px;color:#FFFFFF;">Touch Swipe Slider

        </div>

        <div style="position:absolute;width:480px;height:120px;top:300px;left:30px;padding:5px;text-align:left;line-height:36px;font-size:30px;color:#FFFFFF;">

            Build your slider with anything, includes image, content, text, html, photo, picture

        </div>

    </div>

    <div u="any" style="position:absolute;display:block;top:6px;right:170px;width:280px;height:40px;">

        <a class="share-icon share-facebook" target="_blank" href="http://www.facebook.com/sharer.php?u=http://jssor.com" title="Share on Facebook"></a>

        <a class="share-icon share-twitter" target="_blank" href="http://twitter.com/share?url=http://jssor.com&text=jQuery%20Image%20Slider/Slideshow/Carousel/Gallery/Banner%20javascript+html%20TOUCH%20SWIPE%20Responsive" title="Share on Twitter"></a>

        <a class="share-icon share-googleplus" target="_blank" href="https://plus.google.com/share?url=http://jssor.com" title="Share on Google Plus"></a>

        <a class="share-icon share-linkedin" target="_blank" href="http://www.linkedin.com/shareArticle?mini=true&url=http://jssor.com" title="Share on LinkedIn"></a>

        <a class="share-icon share-stumbleupon" target="_blank" href="http://www.stumbleupon.com/submit?url=http://jssor.com&title=jQuery%20Image%20Slider/Slideshow/Carousel/Gallery/Banner%20javascript+html%20TOUCH%20SWIPE%20Responsive" title="Share on StumbleUpon"></a>

        <a class="share-icon share-pinterest" target="_blank" href="http://pinterest.com/pin/create/button/?url=http://jssor.com&media=http://jssor.cimg/site/jssor.slider.jpg&description=jQuery%20Image%20Slider/Slideshow/Carousel/Gallery/Banner%20javascript+html%20TOUCH%20SWIPE%20Responsive" title="Share on Pinterst"></a>

        <a class="share-icon share-email" target="_blank" href="mailto:?Subject=Jssor%20Slider&Body=Highly%20recommended%20jQuery%20Image%20Slider/Slideshow/Carousel/Gallery/Banner%20javascript+html%20TOUCH%20SWIPE%20Responsive%20http://jssor.com" title="Share by Email"></a>

    </div>

</div>





 <!--#region Bullet Navigator Skin Begin -->
        <!-- Help: http://www.jssor.com/development/slider-with-bullet-navigator-jquery.html -->
        <style>
            /* jssor slider bullet navigator skin 17 css */
            /*
            .jssorb17 div           (normal)
            .jssorb17 div:hover     (normal mouseover)
            .jssorb17 .av           (active)
            .jssorb17 .av:hover     (active mouseover)
            .jssorb17 .dn           (mousedown)
            */
            .jssorb17 {
                position: absolute;
            }
            .jssorb17 div, .jssorb17 div:hover, .jssorb17 .av {
                position: absolute;
                /* size of bullet elment */
                width: 16px;
                height: 16px;
                background: url({% static "img/b17.png" %}) no-repeat;
                overflow: hidden;
                cursor: pointer;
            }
            .jssorb17 div { background-position: -7px -7px; }
            .jssorb17 div:hover, .jssorb17 .av:hover { background-position: -37px -7px; }
            .jssorb17 .av { background-position: -67px -7px; }
            .jssorb17 .dn, .jssorb17 .dn:hover { background-position: -97px -7px; }
        </style>
        <!-- bullet navigator container -->
<div u="navigator" class="jssorb17" style="bottom:26px;right:6px;">
    <div u="prototype"></div>
</div>


<!-- Arrow Navigator Skin Begin -->





<!-- on Arrow Navigator Skin Begin -->
<!-- Help: http://www.jssor.com/development/slider-with-arrow-navigator-jquery.html -->
<style>
/* jssor slider arrow navigator skin 21 css */
/*
   .jssora21l                  (normal)
   .jssora21r                  (normal)
   .jssora21l:hover            (normal mouseover)
   .jssora21r:hover            (normal mouseover)
   .jssora21l.jssora21ldn      (mousedown)
   .jssora21r.jssora21rdn      (mousedown)
 */
.jssora21l, .jssora21r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 55px;
    height: 55px;
    cursor: pointer;
    background: url({% static "img/a21.png" %}) center center no-repeat;
    overflow: hidden;
}
            .jssora21l { background-position: -3px -33px; }
            .jssora21r { background-position: -63px -33px; }
            .jssora21l:hover { background-position: -123px -33px; }
            .jssora21r:hover { background-position: -183px -33px; }
            .jssora21l.jssora21ldn { background-position: -243px -33px; }
            .jssora21r.jssora21rdn { background-position: -303px -33px; }
</style>
<!-- Arrow Left -->
<span u="arrowleft" class="jssora21l" style="top: 173px; left: -8px;">
</span>
<!-- Arrow Right -->
<span u="arrowright" class="jssora21r" style="top: 173px; right: -8px;">
</span>
<!--#endregion Arrow Navigator Skin End -->










<!-- Arrow Navigator Skin End -->

</div>
<script>
console.log("nav", navigator);
forReady.push(function(){
    var options = { 
        $BulletNavigatorOptions: {
            $Class: $JssorBulletNavigator$,
            $ChanceToShow: 2
       },
        $ArrowNavigatorOptions: {
            $Class: $JssorArrowNavigator$,
            $ChanceToShow: 2
        }
    };                            
    var jssor_{{ slider_id }} = new $JssorSlider$('{{ slider_id }}_container', options);

    //responsive code begin
    //you can remove responsive code if you don't want the slider scales
    //while window resizes
    function ScaleSlider() {
        //return;
        var parentWidth = $('#{{ slider_id }}_container').parent().width();
        if (parentWidth) {
            // smaller for colorbox/ajax
            jssor_{{ slider_id }}.$ScaleWidth(parentWidth*{{ scale|default:"1"}});
        }
        else
            window.setTimeout(ScaleSlider, 30);
    }
    //Scale slider after document ready
    ScaleSlider();
                                    
    //Scale slider while window load/resize/orientationchange.
    $(window).bind("load", ScaleSlider);
    $(window).bind("resize", ScaleSlider);
    $(window).bind("orientationchange", ScaleSlider);
    //$.colorbox.resize(); 
    //responsive code end
});
</script>
