{% extends "admin/base.html" %}
{% load i18n grp_tags %}

{% block title %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}

{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header }}</a></h1>
{% endblock %}

{% block nav-global %}
{% with LANGUAGES|length as LCNT %}
{% if LCNT > 1 %}


<ul  style="float:right;  font-weight: bold;    position: relative;">
<li class="grp-user-options-container grp-collapse grp-closed" style="display: block; margin:10px;">
{{LANGUAGE_CODE|language_name_local}}
<a class="user-options-handler grp-collapse-handler" href="javascript://" style="float:right;margin-left:5px;">{% trans 'change' %}</a>
<ul class="grp-user-options" style="width: auto;">

<li style="padding:10px;  ">
		{% include "lang_chooser.html" with jquery="grp.jQuery" %}
</li>
</ul>
</li>
</ul>

{% endif %}
{% endwith %}
{% endblock %}
