{% load static  %}
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
	</head>
	<body>

        <div>
            {% block menu %}
            {% include "menutag.html" %}
            {% endblock menu %}
        </div>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="callout {{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <div>
            {% block main %}
            {% endblock main %}
        </div>

        <div>	
		    {% with areas.sidebar as sidebar %}
            {% for widget in sidebar %}
            {% if widget.title %}<h5>{{ widget.title }}</h5>{% endif %}
            {{ widget.content|safe }}
            {% endfor %}
            {% endwith %}
        </div>

	</body>
</html>
