*.pyc
*~
/demo/static/
/demo/media/uploads/filebrowser/*
/demo/db
/dist/
/dist/*
/django_pagetools.egg-info/
.project
.pydevproject
.settings

META-INF
build.properties
pagetools/.ropeproject/
pagetools/.ropeproject/*	
