*.pyc
*~
/demo/static/
/demo/media/uploads/filebrowser/*
/demo/db
/dist/
/dist/*
/django_pagetools.egg-info/
.project
.pydevproject
.settings
*.swp
*.swo
META-INF
build.properties
.ropeproject/
.ropeproject/*	
