*.pyc
*~
pagetoolsdemo/media/uploads/filebrowser/*
pagetoolsdemo/db
pagetoolsdemo1/.coverage
/dist/
/dist/*
/django_pagetools.egg-info/
/old
.project
.pydevproject
.settings
*.swp
*.swo
*.orig
META-INF
build.properties
.ropeproject/
.ropeproject/*	
