include version.py RELEASE-VERSION
recursive-include django-pagetools/pagetools/templates * 
recursive-include pagetools/*/templates *

recursive-include pagetools/static * 
recursive-include pagetools/*/static *

recursive-include pagetools/locale *
recursive-include pagetools/*/locale *
