[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-filebrowser = "*"
django-grappelli = "*"
django = "==2.2.8"
"beautifulsoup4" = "*"
django-crispy-forms = "*"
django-debug-toolbar = "*"
django-model-utils = "*"
django-mptt = "*"
django-sekizai = "*"
django-simple-captcha = "*"
djangoajax = "*"
pillow = "*"
e1839a8 = {editable = true,path = "."}
tox = "*"

[dev-packages]
mock = "*"
pytest = "*"
black = "*"
pylint = "*"
pylint-django = "*"
coverage = "*"
"pysqlite3" = "*"
tox = "*"
coveralls = "*"
wily = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
