[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-grappelli = "*"
django-filebrowser = "*"
django = "==2.2.10"
"beautifulsoup4" = "*"
django-crispy-forms = "*"
django-debug-toolbar = "*"
django-model-utils = "*"
django-mptt = "*"
django-sekizai = "*"
django-simple-captcha = "*"
djangoajax = "*"
pillow = "*"
tox = "*"
sphinx = "*"

[dev-packages]
mock = "*"
pytest = "*"
coverage = "*"
"pysqlite3" = "*"
tox = "*"
coveralls = "*"
pylint = "*"
pylint-django = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
