Django==1.7
Pillow==2.5.3
WeasyPrint==0.22
anyjson==0.3.3
beautifulsoup4==4.3.2
celery==3.1.13
cssselect==0.9.1
django-admin-sortable==1.7.3
django-bower==5.0.1
django-crispy-forms==1.4.0
django-debug-toolbar==1.2.1
django-filebrowser==3.5.6
django-grappelli==2.5.3
django-model-utils==2.2
django-mptt==0.6.1
html5lib==0.999
invoke==0.9.0
pytz==2014.7
six==1.7.3
sphinx-me==0.3
tinycss==0.3
