{% extends "base.html" %} {% load fb_versions %} 
{% block css %} {{block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/colorbox.css" />
<style>
.pic-cell {
	width: 80px;
}

.text-cell {
	vertical-align: bottom;
}

.startlinkwrapper {
	margin-top: 18px;
}

.startlinkwrapper a {
	background: #A9CD8D;
	border-radius: 10px;
	padding: 8px;
}
</style>
{% endblock css%} 

{% block js %} {{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.colorbox-min.js"></script>
<script>
	$(document).ready(function(){
		 function startGal(){
			 jQuery('a.gallery').colorbox({
		    	 rel:'gal',transition:"none", 
		    	 width:"75%", 
		    	 height:"75%", 
		    	 slideshow:true, 
		    	 slideshowSpeed: 5000, 
		    	 open:true});
		 }
		 startGal();
		
	});
 </script>
{% endblock js %} 

{% block main %}
<div class="startlinkwrapper">
	<a href="javascript:startGal()">Gallerie starten</a>
</div>
<table>
	{% for pic in object.get_pics %}
	<tr>
		<td class="pic-cell"><a class='gallery'
			href='/media/{{ pic.pic }}' title="{{pic.title}}"> <img
				src="{% version pic.pic 'thumbnail' %}" alt="{{pic.title}}" />
		</a></td>
		<td class="text-cell"><a href='/media/{{ pic.pic }}'
			title="{{pic.title}}"> {{pic.title}} </a></td>
	</tr>
	{% endfor %}
</table>

{% endblock main %}
