{% extends "admin/change_list_filter_sidebar.html" %}
{% load i18n %}
{% block javascripts %}
    {{ block.super }}
<script>
    (function($) { $(document).ready(function(){
		has_no_get_params = window.location.href.indexOf('?')<0;
		if (has_no_get_params){ 
			$usrlang_opt = $('option[value="?lang__exact={{ LANGUAGE_CODE }}"]');
			$sel = $usrlang_opt.parent();
	
			$curlang_opt = $sel.find('option[selected="selected"]');
			if ($curlang_opt != $usrlang_opt){
				$curlang_opt.removeAttr('selected');
				$usrlang_opt.attr('selected', 'selected')
				$sel.trigger("change");
			}
		}
	})
})(grp.jQuery);
  </script>
{% endblock %}
