{% extends custom_change_form|default:"admin/change_form.html" %}
{% load static %}
{% block javascripts %}
{{ block.super }}
<script>
jQuery = grp.jQuery;
(function($){
    $(document).ready(function(){
        {% if request.parent_model.allowed_children_classes|length > 1 %}
        $.getScript( "{% static "js/jquery.balloon.min.js" %}")
            .done(function( script, Status ) {
                $(".add-another").each(function(i, obj){
                    var $obj = $(obj);
                    $obj.removeAttr("href").removeAttr("onclick");
                    var linklist="<ul>";
                    var links = [];
                    {% for c in request.parent_model.allowed_children_classes %}
                    linklist += '<li><a href="{{c.get_adminadd_url }}"' + 
                        ' class="in_group_chooser in_group_chooser_{{ forloop.counter }}"' + 
                        '>{{c.get_classname}}</a></li>';
                    links.push("{{ c.get_adminadd_url}}");
                    {% endfor %}
                    linklist += "</ul>";
                    $obj.balloon({
                        contents: linklist,
                        position: "right",
                        minLifetime: 1000,
                        showComplete: function(){
                            for (var i=0; i<links.length;i++){
                                
                                $(".in_group_chooser_" + (i+1)).bind("click",function(i){
                                    console.log("i2",i);
                                    return function(){
                                        var $cpy = $obj.clone();
                                        $cpy.attr("href", links[i]);
                                        console.log("CPY",i, $cpy, links);
                                      return  showAddAnotherPopup($cpy.get(0));
                                    };
                                }(i));
                            }
                        }    
                    }); 

                });
            })
        .fail(function( jqxhr, settings, exception ) {
            console.error( "Something went wrong", exception );

        });
        {% else %}
        $(".add-another").each(function(i, obj){
                var $obj = $(obj);
                $obj.attr("href", "{{request.parent_model.allowed_children_classes.0.get_adminadd_url }}");
                 
            });
        {% endif %}    
    });
}(grp.jQuery));
</script>
{% endblock javascripts %}

