include version.py RELEASE-VERSION
recursive-include pagetools/templates * 
recursive-include pagetools/*/templates *

recursive-include pagetools/static * 
recursive-include pagetools/*/static *

recursive-include locale *
