{% load menus_tags static %}
<html>
<head>
{% block css %}
<link href="{% static "bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css" />
{% endblock css%}
{% block js %}
<script type="text/javascript" src='{% static 'jquery/dist/jquery.js' %}'></script>

{% endblock js %}
</head>
<body>
<ul>{% menu MainMenu selected %}</ul>
<hr />
{% block main %}
[no content]
{% endblock %}
<hr />
{% with areas.sidebar as sidebar %}
{% for w in sidebar %}
{{ w }}
{% endfor %}
{%endwith %}
</body>
</html>