{% extends "core/admin/change_form_help_text.html" %} {% load i18n %}
{% block after_related_objects %} {{ block.super }}
{% if addable_widgets %}
<div class="grp-module grp-dashboard-module typearea-new-entries">
	<h2>{% trans "Add new Widget" %}</h2>
	<ol>
	{% for c in addable_widgets %}
	{{ c|safe }}
	{% endfor %}
	</ol>
	<input name="entry-order"
		value="" type="hidden" />
</div>
{% endif %}

{% if addable_objs %}
<fieldset class="grp-module ">
<div class="grp-module grp-dashboard-module typearea-exist-entries">
	<h2>{% trans "Add existing Widget" %}</h2>
	<select name="add_objs" multiple="multiple">
	{% for c in addable_objs %}
	{{ c|safe }}
	{% endfor %}
	</select>
	<input name="entry-order"
		value="" type="hidden" />
</div>
</fieldset>
{% endif %}

{% endblock after_related_objects %}
