{% load static menus_tags subscribe_tags%}
<html>
  <head>
    <title>pagetools-demo</title>
    {% block css %}
    {% endblock css %}
  </head>
  <body>
    <div class="head">
      <ul>{% menu MainMenu selected %}
      </ul>
    </div>
    <div class="main">
        {% if messages %}
        <ul>
        {% for msg in messages %}
        <li>{{ msg }}</li>
        {% endfor %}
        </ul> 
        {% endif %}
      {% block main %}
      base-content
      {% endblock main %}
    </div>
    <div class="sidebar">
        {% with areas.sidebar as sidebar %}
        {% for widget in sidebar %}
        <b>{{widget.title}}</b>
        {{ widget.content|safe }}
        {% endfor %}
        {% endwith %}
    </div>
    {% block js %}
    <script src="{% static "js/jquery/dist/jquery.min.js" %}"></script>
    {% endblock js %}
  </body>
</html>
